<mat-table mat-table [dataSource]="recetas" class="mat-elevation-z8" *ngIf="!cargando">

    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let element"> {{element.categoria}}</td>
    </ng-container>

    <ng-container matColumnDef="etiquetas">
        <th mat-header-cell *matHeaderCellDef> Etiquetas </th>
        <td mat-cell *matCellDef="let element">
            <mat-chip-list>
                <mat-chip *ngFor="let etiqueta of element.etiquetas.split(',')">{{etiqueta}}</mat-chip>
            </mat-chip-list>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="detalleReceta( row.id )"></tr>
</mat-table>