<h1>{{receta.nombre}}</h1>
<dl>
    <td><strong>Nombre</strong></td>
    <dd>{{ receta.nombre }}</dd>
    <td><strong>Categoría</strong></td>
    <dd>{{ receta.categoria}}</dd>
    <td><strong>Etiquetas</strong></td>
    <dd>{{ receta.etiquetas}}</dd>
    <td><strong>Ingredientes</strong></td>
    <dd>{{ receta.ingredientes}}</dd>
    <td><strong>Instrucciones</strong></td>
    <dd>{{ receta.instrucciones}}</dd>
    <td><strong>Notas</strong></td>
    <dd>{{ receta.notas}}</dd>
    <td><strong>Fecha de alta</strong></td>
    <dd>{{ receta.fechaAlta}}</dd>
</dl>
<button mat-raised-button color="primary" [routerLink]="['/recetas']">Volver</button>