<div>
    <h1>Listado de recetas</h1>
    <span *ngIf="!cargando">La base de datos contiene {{ recetas.length }} recetas</span>
    <mat-divider></mat-divider>
</div>

<mat-progress-spinner mode="indeterminate" *ngIf="cargando" style="margin:0 auto;">
</mat-progress-spinner>
<mat-table mat-table [dataSource]="recetas" class="mat-elevation-z8 listado-table" *ngIf="!cargando">

    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let element"> {{element.categoria}}</td>
    </ng-container>

    <ng-container matColumnDef="etiquetas">
        <th mat-header-cell *matHeaderCellDef> Etiquetas </th>
        <td mat-cell *matCellDef="let element">
            <mat-chip-list *ngIf="element.etiquetas?.length">
                <mat-chip *ngFor="let etiqueta of element.etiquetas.split(',')">{{etiqueta}}</mat-chip>
            </mat-chip-list>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="detalleReceta( row.id )"></tr>
</mat-table>